<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Recipes</title>
    <link rel="stylesheet" href="../../../static/css/recipe_viewer/rv_home.css">
</head>
<body>

    <header class="header">
        <div class="head">
        <h1>Delicious Recipes</h1>
        <p>Welcome to our recipe website! Explore a variety of mouth-watering recipes.</p>
        </div>


        <form method="get" action="{% url 'search'%}">
        <div class="search-bar">
            <div class="search">
                <input type="text" class="search-input" placeholder="Search..." size="60" type="text" name="query" id="query">
                    <button type="submit">Search</button>
            </div>

        </div>
        </form>



        <div class="Menu">
            <h2>Recipe</h2>
            <h2>Home</h2>
            <h2>Tips & Tricks</h2>
            <h2>Logout</h2>
        </div>
    </header>

    <div class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>




<div class="carousel">
    <img src="../../../static/images/curosal_rm.jpg" alt="Card Image">
    <div class="card1">
      <h2>Add your Recipe Here</h2>
    <p>Flavour not always added in the it is in the World</p>
    <a href="{% url 'rm_add' %}">
    <button type="button">Add</button>
</a>
    </div>

</div>


    <div class="container">
        <div class="recipe">
            <h2>PANNER CHILLI</h2>
            <p>A cheese cube tossed with the vegies.</p>

        </div>

        <div class="recipe">
            <h2>PANEER rICE</h2>
            <p>A classic blend of cheese cubees and chawal</p>
        </div>

<!-- <div class="card-container-new">-->
<!--        {% for i in recipe%}-->
<!--            <div class="card2" style="&#45;&#45;card-color: {{ card.color }};">-->
<!--                <h2>{{ i.first_name }}</h2>-->
<!--                <p>{{ i.recipe_name }}</p>-->
<!--              <button type="button"  class="btn-bl" onclick=" window.open('/client_js/{{ i.form_job_title }}/{{i.form_job_skills}}', '_self')">Apply Now</button></a>-->

<!--            </div>-->

<!--        {% endfor %}-->

<!-- </div>-->

    <div class="card-container-new">
             {% for i in recipe%}
            <div class="card-new" style="--card-color: {{ card.color }};">

                <h2>{{ i.recipe_name }}</h2>

                <div class="btn1">
                <button type="button"  class="btn-bl" onclick=" window.open('/recipe_viewer/{{i.recipe_name}}', '_self')">Prepare Now</button></a>
                </div>
            </div>

        {% endfor %}

    </div>

</div>
</body>
</html>






