/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Navbar Styles */
nav {
    background-color: #f39c12;
    color: #ffffff;
    padding: 20px 0;
}

nav .logo h1 {
    margin: 0;
    color: white;
    font-size: 24px;
}

nav .search {
    float: right;
}

nav .search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

nav .search button {
    padding: 8px 16px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Content Styles */
.content {
    background-color: #ffffcc;
    padding: 50px 0;
    text-align: center;
}

.content h2 {
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #f39c12;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}



card

.card-container-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card-new {
    width: 300px;
    background: linear-gradient(orange,rgb(253, 236, 251));
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: darken(var(--card-color, #3498db), 10%);
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
    color:white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .card-new {
        width: calc(100% - 20px);
    }
    .card-container-new{
    display:block;
    }
}

@media (max-width: 480px) {
    .card-new {
        width: calc(100% - 20px);
    }
}




  .card1 {
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 13px;
    text-align: center;
  }

  .card1 h2 {
    margin-top: 0;
  }

  .card1 p {
    margin-bottom: 0;
  }

